# Arquivos e pastas específicos do servidor
/Server/node_modules/
/Server/dist/

# Arquivos e pastas específicos do cliente
/Client/node_modules/
/Client/build/

# Arquivos específicos do editor de texto (por exemplo, Visual Studio Code)
.vscode/

# Outros arquivos ou pastas gerais a serem ignorados
.DS_Store
Thumbs.db
.env
